<h1>Division</h1>

<form action="/wizard_divide" method="get">
  <!-- First Number Input -->
  <div>
    <label for="form_first_number">Divide this:</label>
    <input id="form_first_number" name="first_num" type="text" required>
  </div>

  <!-- Second Number Input -->
  <div>
    <label for="form_second_number">by this:</label>
    <input id="form_second_number" name="second_num" type="text" required>
  </div>

  <!-- Submit Button -->
  <button type="submit">Divide!</button>
</form>
